{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% render_bundle 'common' 'js' %}
    <!-- <script src="{{ STATIC_URL }}__dist/common.js"></script> -->

    <!--<link href="{{ STATIC_URL }}css/global.css" rel="stylesheet" type="text/css">-->
    <!-- <link href="{{ STATIC_URL }}css/source.css" rel="stylesheet" type="text/css"> -->
    <!--<link href="{{ STATIC_URL }}css/login2.css" rel="stylesheet" type="text/css">-->

    <!--  THEME CSS  -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}style/global.css?t={{BUILD_DATE}}" /> -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}style/base.css?t={{BUILD_DATE}}" /> -->
    {% if debug %}

    {%else%}
     <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/source-base.min.css" />-->
    <!-- <link rel="stylesheet" id="theme-stylesheet" href="{{ STATIC_URL }}client/static/css/theme.min.css"/> -->
    {%endif%}
    <link rel="stylesheet" id="theme-stylesheet" href="{{ STATIC_URL }}client/static/css/theme.css?t={{BUILD_DATE}}"/>
    <!-- <script src="/static/js/vendor/require.js"></script> -->
</head>

<body id="source-login" class="gs-credentials">
<div id="afp-bg-wrap"></div>
    <div class="source-application-wrapper">

    <div id="login-container">
		<div class="company-logo">
			<div class="gs-credentials-company-logo"></div>
			<div class="gs-credentials-logo-shadow"></div>
		</div>

		<!--  SIGN IN FORM  ====================================================================================  -->
		<!--  ==================================================================================================  -->
		<div id="sign-in" class="form-section show" data-section="sign-in">
			<!--  EMAIL FIELD  -->
			<div class="field-wrap user-wrap">
				<div class="icon" data-icon="b"></div>
				<input type="text" id="sign-in-user" class="gs-credentials-input" name="user" placeholder="{% trans 'user' %}"/>
				<div class="check" data-icon="e"></div>
				<div class="field-message email-error">{% trans 'invalid email' %}</div>
			</div>

			<!--  PASSWORD FIELD  -->
			<div class="field-wrap password-wrap">
				<div class="icon" data-icon="a"></div>
				<input type="password" id="sign-in-password" class="gs-credentials-input" name="password" placeholder="{% trans 'password' %}" />
				<div class="check" data-icon="e"></div>
			</div>

			<!--  FORM MESSAGE LIKE INVALID LOGIN INFO  -->
			<div class="form-messages">
				<p class="form-message error color-secondary">{% blocktrans %}The email and/or password you provided is incorrect{% endblocktrans %}</p>
			</div>

			<button type="button" href="#" class="btn btn-primary submit-btn gs-credentials-submit-btn bg-primary">{% trans 'Sign in' %}</button>

			<div class="forgot-wrap">
				<a href="#" id="login-cant-log" class="forgot change-form color-primary-hover" data-form="request">{% trans 'Forgot password' %}?</a>
			</div>

			<div class="register-wrap">
				<a href="#" id="login-register" class="register change-form color-primary" data-form="register">{% trans 'Create an account' %}</a>
			</div>

		</div>

		<!--  FORGOT FORM  =====================================================================================  -->
		<!--  ==================================================================================================  -->
		<div id="request" class="form-section" data-section="request">
			<a href="#" class="color-primary-hover close-form change-form" data-form="sign-in" data-icon="X"></a>
			<p class="section-title">{% trans 'Forgot Your Password' %}?</p>
			<div class="description">
				<p class="info">{% blocktrans %}Enter your email and we'll send you a temporary password by email{% endblocktrans %}.</p>
				<p class="sent-info">{% trans 'Please check your email for a link to reset your password' %}.</p>
			</div>

			<!--  EMAIL FIELD  -->
			<div class="field-wrap request-email-wrap">
				<div class="icon" data-icon="b"></div>
				<input type="email" id="request-email" placeholder="{% trans 'email' %}" name="email" autocomplete="off" />
				<div class="check" data-icon="e"></div>
				<div class="field-message email-error">{% trans 'invalid email' %}</div>
			</div>

			<!--  FORM MESSAGE LIKE INVALID LOGIN INFO  -->
			<div class="form-messages"></div>

			<button type="button" href="#" class="btn btn-primary submit-btn bg-primary">{% trans 'Submit' %}</button>
		</div>

	</div>



	<!-- <div class="bg-header-image"></div> -->
	<!-- <div class="bg-footer-image"></div> -->
    <!-- <div class="ses-hero__lines"> -->

    </div>
</div>

</div>

</div>
    </div>

    <script>
        var SRC = parent.SRC;
        // var $ = jQuery = function(selector,context) {return new top.jQuery.fn.init(selector,context || window.document)}; $.fn = $.prototype = top.jQuery.extend($,top.jQuery);
        var $ = window.parent.$;

        window.onload = function() {
            // Inherit Styles from webpacked styles above
            if (parent) {
                var oHead = document.getElementsByTagName("head")[0];
                var arrStyleSheets = parent.document.getElementsByTagName("style");
                for (var i = 0; i < arrStyleSheets.length; i++)
                    oHead.appendChild(arrStyleSheets[i].cloneNode(true));

                //  THIS IS DEFINED ON base.html
                SRC.removeLoadingCover();
            }
        }
    </script>

    {% render_bundle 'login' 'js' %}
    <!-- <script src="{{ STATIC_URL }}__dist/login.js"></script> -->

    <script>
    	{% if client_rendered_styles %}
    		var clientThemeStyles = "{{ client_rendered_styles }}";
    	{% else %}
    		var clientThemeStyles = null;
    	{% endif %}

        $(document).ready(function(){
            SRC.Login.initialize();
        });
    </script>

</body>
</html>
